<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> WYM</title>
    </head>
    <body>
        <p>WYM propose plusieurs services en lien avec l'Intelligence Artificielle :
            - algo de recommandation
            - algo de résumer de texte
            - algo pour voiture intelligente

            Bref, nous sommes à la pointe !

        </p>
        
    </body>
</html>