<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                <title>WYM Inc.</title>
        <link rel="stylesheet" href="/static/pico-master/css/styles.css">
    </head>
    <body>
        <nav>
            <h1>WYM Inc.</h1>
            <div class="onglets">
                <a href="/home"> Home</a>
                <a href="/about"> About</a>
                <a href="/model"> Model</a>
                <a href="/contact"> Contact</a>
            </div>
       </nav>

       <header> 
           <h1>WYM Inc.</h1>
           <h4>BESOIN DE RÉSUMER VOS TEXTES ? VOUS ETES AU BON ENDROIT. </h4>
       </header>

    </body>
    </html>